@import "iconfont.scss";
$theme-main-color-1: #2e89c0;
$theme-main-color-2: #5dabdc;
$theme-main-color-3: #8fd0f0;
$theme-main-color-2t: #5dabdcd9;
$theme-main-color-3t: #8fd0f0d9;
$text-gary-color-1: #626a77;
$text-gary-color-1t: #626a774d;
$text-gary-color-2: #8f9297;
$text-gary-color-3: #c8c9c4;
$url-bg: "https://cloud.markpolo.cn/static/img/90773916_p1.jpg";
$url-topimg-1: "https://cloud.markpolo.cn/static/img/53061497_p0.jpg";
$url-topimg-2: "https://cloud.markpolo.cn/static/img/88998943_p0.jpg";
@font-face {
  font-family: "Raleway";
  src: url("https://cloud.markpolo.cn/static/fonts/raleway.ttf");
}
.handle-default-a {
  text-decoration: none;
  color: inherit;
}
.handle-el-link {
  color: inherit;
  font-size: inherit;
  &:hover {
    color: rgba(0, 0, 0, 0.60);
    &:after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.60);
    }
  }
}
.mps-topimg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 20px;
  margin: 0 0 20px 0;
  .mps-topimg-text {
    color: white;
    font-size: 50px;
    font-family: "Raleway";
    font-weight: 1000;
    letter-spacing: 20px;
    word-spacing: 40px;
    white-space: nowrap;
  }
}
